<% content_for :title do %>Edit Account<% end %>
<div class="container-small mt goldenrod">
  <div class="card">
    <div class="card-block" style="background: #000000;  background-image: url(https://github.com/cwilliams3579/Choosen-uploads/blob/master/lion-logo.png?raw=true); background-size: contain; background-position: center; background-repeat:no-repeat;">
      <div class="form-header">
        <h3>Edit <%= resource_name.to_s.humanize %></h3>
      </div>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
        <%= devise_error_messages! %>
        <div class="md-form">
          <i class="fa fa-user goldenrod prefix"></i>
          <%= f.text_field :first_name, :autofocus => true, class: 'form-control', style: "color:goldenrod; font-size: 18px;" %>
        </div>
        <div class="md-form">
          <i class="fas fa-user prefix" style="color:goldenrod;"></i>
          <%= f.text_field :last_name, placeholder: "Doe", class: 'form-control', style: "color:goldenrod; font-size: 18px;" %>
        </div>
        <div class="md-form">
          <i class="fas fa-envelope fa-fonts prefix"></i>
          <%= f.email_field :email, class: 'form-control', style: "color:goldenrod; font-size: 18px;" %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        </div>
        <fieldset>
          <p class="text-center">Leave these fields blank if you don't want to change your password.</p>
          <div class="md-form">
            <i class="fas fa-lock fa-fonts prefix"></i>
            <%= f.password_field :password, :autocomplete => 'off', class: 'form-control', style: "color:goldenrod; font-size: 18px;" %>
          </div>
          <div class="md-form">
            <i class="fas fa-lock fa-fonts prefix"></i>
            <%= f.password_field :password_confirmation, class: 'form-control', style: "color:goldenrod; font-size: 18px;" %>
          </div>
        </fieldset>
        <fieldset>
          <p class="text-center">You must enter your current password to make changes.</p>
          <div class="md-form">
            <i class="fas fa-lock fa-fonts prefix"></i>
            <%= f.password_field :current_password, class: 'form-control', style: "color:goldenrod; font-size: 18px;" %>
          </div>
        </fieldset>
        <div class="md-form center">
          <%= f.button "", class: " waves-effect waves-light fas fa-paw fa-3x", style: "background:transparent; border:none; color:goldenrod;", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>Processing..."} %>
        </div>
      <% end %>
      </div>
      <div class="md-form text-center white-text">
      <h3>Cancel Account</h3>
      <p>Unhappy? We'll be sad to see you go.</p>
      <%= link_to "", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'fa fa-trash fa-lg text-danger' %>
    </div>
  </div>
</div>
<br><br>
<%= link_to "", root_path, class: "fa fa-hand-o-left fa-2x faa-horizontal animated fa-fonts" %>
