<div class="container mt-2x mb-2x">
  <td>
  <%= link_to user.email, user, class: "purple-text" %>
</td>
<td>
  <%= form_for(user) do |f| %>
    
    <div class="md-form">
      <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}, class: "btn btn-outline-purple") %>
    </div>

    <%= f.submit 'Change Role', :class => 'btn btn-warning btn-outline-purple' %>
  <% end %>
</td>
<td>
  <%= link_to(" ", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'fas fa-trash fa-lg text-danger') unless user == current_user %>
</td>
</div>


