<div class="container-small">
  <div class="card mt">
    <div class="card-block">
      <div class="form-header  btn-outline-gold">
        <h3><%= current_user.full_name if current_user.present? %></h3>
      </div>
      <%= form_for(book) do |f| %>
        <% if book.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

            <ul>
            <% book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="btn-group">
          <i class="fa fa-camera-retro fa-2x prefix fa-fonts"></i> &nbsp;
          <%= image_tag(book.image.url) if book.image? %><br>
          <%= f.file_field :image, class:"white-text" %>
        </div>
        <small class="center">
          <%#= f.hidden_field :image_cache %>
        </small>

        <div class="md-form">
          <i class="fa fa-tag prefix fa-fonts"></i>
          <%= f.text_field :title, placeholder: "Enter title", :autofocus => true, class: 'form-control gold-text' %>
        </div>

        <div class="md-form">
          <i class="fa fa-pencil prefix fa-fonts"></i>
          <%= f.text_area :description, placeholder: "Enter description", class: 'md-textarea gold-text' %>
        </div>

        <div class="md-form center">
          <%= f.button '', class: "fa fa-paw fa-3x waves-effect waves-light", style: "background:transparent; border:none; color:goldenrod;", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>Processing..."} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
