<div class="container-small mt-2x">
  <div class="card">
    <div class="card-block">
      <div class="form-header title-font" style="background:#000000; font-family: 'UnifrakturCook', cursive !important;">
        <h3 class="h3-responsive goldenrod"><%= @book.title if @book.present? %></h3>
      </div>
      <%= form_for(book) do |f| %>
        <% if book.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

            <ul>
            <% book.errors.full_messages.each do |message| %>
              <li class="red-text"><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="btn-group">
          <i class="fa fa-camera-retro fa-2x prefix fa-fonts"></i> &nbsp;
          <%= f.file_field :image, class:"white-text" %>
          <div class="center">
            <%= f.hidden_field :image_cache %>
          </div>
        </div>
          <div class="container" style="width:200px;">
            <%= image_tag(book.image.url) if book.image? %><br>
          </div>
          
          <div class="md-form">
          <%= f.label :category_id %> <br>
          <%= f.collection_select :category_id, Category.all, :id, :name, {promt: "Choose a category"}, {class: "select_tag btn btn-default"} %>
        </div>

        <div class="md-form">
          <i class="fa fa-tag prefix fa-fonts"></i>
          <%= f.text_field :title, placeholder: "Enter title", :autofocus => true, class: 'form-control white-text' %>
        </div>

        <div class="md-form">
          <i class="fa fa-pencil prefix fa-fonts"></i>
          <%= f.text_area :description, placeholder: "Enter description", class: 'md-textarea white-text' %>
        </div>

        <div class="mx-auto" style="width: 230px;">
          <%= image_submit_tag("https://github.com/cwilliams3579/Choosen-uploads/blob/master/lion-btn.png?raw=true", class: "waves-effect waves-light btn-img") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
