<p id="notice"><%= notice %></p>

<div class="container mt-2x">
  <!-- Projects section v.3 -->
<section class="my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5 goldenrod"><%= @book.title %></h2>
  <!-- Section description -->

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-5 mb-lg-0 mb-5">
      <!--Image-->
      <!-- <img src="https://mdbootstrap.com/img/Photos/Others/images/83.jpg" alt="Sample project image" class="img-fluid rounded z-depth-1"> -->
      <%= image_tag(@book.image.url, class: "img-fluid rounded z-depth-1 mb-2x", alt: "Sample project image") %>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7">

      <!-- Grid row -->
      <div class="row mb-3">
        <div class="col-md-1 col-2">
          <i class="fa fa-book fa-2x goldenrod"></i>
        </div>
        <div class="col-md-11 col-10">
          <h5 class="font-weight-bold mb-3"> <%= link_to Category.find(@book.category_id).name, category_path(@book.category_id) %> </h5>
          <small class="font-weight-bold mb-3">Written by <%= @book.user.full_name  %></small>
          <p class="grey-text"><%= @book.description %></p>
          <%= link_to '', edit_book_path(@book), class: "fa fa-pencil fa-lg goldenrod" %> |
          <%= link_to '', books_path, class: "fas fa-undo-alt goldenrod" %>
        </div>
      </div>
      <!-- Grid row -->



    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <hr class="my-5">
</section>
<!-- Projects section v.3 -->
</div>
