<% content_for :title do %>Sign In<% end %>
<div class="container-small mt-2x">
    <div class="card"  style="background: #000000; border: 4px solid purple; padding:20px;">
      <div class="card-block">
        <div class="form-header" style="background-color: #000000 !important; border: 2px solid purple !important; color: goldenrod !important;">
          <h3 class="h3-responsive"  style="font-family: 'UnifrakturCook', cursive !important; font-size:2em !important; color: #DAA520 !important;"> Sign In</h3>
        </div>
        <%= render 'layouts/messages' %>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
          <%= devise_error_messages! %>
          <div class="md-form">
            <i class="fas fa-envelope prefix purple-text"></i>
            <%= f.email_field :email, placeholder: "Email", :autofocus => true, class: 'form-control', style: "color:#fff; font-size:18px;" %>
          </div>
          <div class="md-form">
            <i class="fas fa-lock prefix purple-text"></i>
            <%= f.password_field :password, placeholder: "Your password", class: 'form-control', style: "color:#fff; font-size:18px;" %>
          </div>

          <div class="mx-auto" style="width: 230px;">
            <%= image_submit_tag("https://github.com/cwilliams3579/Choosen-uploads/blob/master/lion-btn.png?raw=true", class: "waves-effect waves-light btn-img") %>
          </div>
            <% if devise_mapping.rememberable? -%>
              <div class="checkbox" style="width:150px">
                <label for="Remember Me" class="white-text">
                  <%= f.check_box :remember_me %>
                  Remember Me
                </label>
              </div>
            <% end -%>
        <% end %>
        <div class="btn-group">
          <%- if devise_mapping.registerable? %>
            <%= link_to 'Sign up', new_registration_path(resource_name), class: 'right', style: "color:white;"  %>
          <% end -%> &nbsp; &nbsp; 
          <%- if devise_mapping.recoverable? %>
          <%= link_to "Forgot password?", new_password_path(resource_name), class: 'right', style: "color:white;" %>
          <% end -%>
        </div>
    </div>
  </div>
</div>
<br><br>
<div class="center">
  <%= link_to "", root_path, class: "fa fa-hand-o-left fa-2x", style: "color:purple;" %>
</div>

<%= render "devise/shared/links" %>
