<% content_for :title do %>Sign In<% end %>
<div class="container-small mt-2x mb">
    <div class="card purple-border-4x">
      <div class="card-block">
        <div class="form-header">
          <h4 class="h4-responsive indie-font goldenrod"> Sign In</h4>
        </div>
        <%#= render 'layouts/messages' %>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
          <%#= devise_error_messages! %>
          <div class="md-form">
            <i class="fas fa-envelope prefix fa-fonts"></i>
            <%= f.email_field :email, placeholder: "Email", :autofocus => true, class: 'form-control', style: "color:#fff; font-size:18px;" %>
          </div>
          <div class="md-form">
            <i class="fas fa-lock prefix fa-fonts"></i>
            <%= f.password_field :password, placeholder: "Your password", class: 'form-control', style: "color:#fff; font-size:18px;" %>
          </div>

          <div class="mx-auto" style="width: 230px;">
            <%= image_submit_tag("https://github.com/cwilliams3579/Choosen-uploads/blob/master/lion-btn.png?raw=true", class: "waves-effect waves-light btn-img") %>
          </div>
            <% if devise_mapping.rememberable? -%>
              <div class="checkbox" style="width:150px">
                <label for="Remember Me" class="white-text">
                  <%= f.check_box :remember_me %>
                  Remember Me
                </label>
              </div>
            <% end -%>
        <% end %>
        <div class="btn-group">
          <%- if devise_mapping.registerable? %><i class="fas fa-user-plus fa-fonts"></i> &nbsp;
            <%= link_to 'Sign up', new_registration_path(resource_name), class: 'right', style: "color:white;"  %>
          <% end -%> &nbsp; &nbsp; 
          <%- if devise_mapping.recoverable? %>
          <%= link_to "Forgot password?", new_password_path(resource_name), class: 'right', style: "color:white;" %>
          <% end -%>
        </div>
    </div>
  </div>
</div>
<br><br>
<div class="center">
  <%= link_to "", root_path, class: "fa fa-hand-o-left fa-2x fa-fonts" %>
</div>
