<div class="container-small mt-2x mb">
  <div class="card purple-border-4x">
    <div class="card-block">
      <div class="form-header">
        <h3 class="h3-responsive title-fonts"><%= current_user.full_name if current_user.present? %></h3>
      </div>
      <%= form_for(post) do |f| %>
        <% if post.errors.any? %>
          <div id="error_explanation">
            <h2 class="red-text"><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
            <% post.errors.full_messages.each do |message| %>
              <li class="red-text"><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="btn-group">
          <i class="fa fa-camera-retro fa-2x prefix fa-fonts"></i> &nbsp;
          <%= image_tag(post.image.url) if post.image? %><br>
          <%= f.file_field :image, class:"white-text" %>
          <%= f.hidden_field :image_cache %>
        </div>

        <div class="md-form">
          <i class="fa fa-tag prefix fa-fonts"></i>
          <%= f.text_field :title, placeholder: "Enter title", :autofocus => true, class: 'form-control white-text' %>
        </div>

        <div class="md-form">
          <i class="fas fa-pencil-alt prefix fa-fonts"></i>
          <%= f.text_area :description, placeholder: "Enter description", class: 'md-textarea white-text' %>
        </div>

        <div class="mx-auto" style="width: 230px;">
            <%= image_submit_tag("https://github.com/cwilliams3579/Choosen-uploads/blob/master/lion-btn.png?raw=true", class: "waves-effect waves-light btn-img") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
