<div class="container mt-2x mb">
    <!-- Section: Blog v.4 -->
<section class="my-5">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-12">

      <!-- Card -->
      <div class="card card-cascade wider reverse">
      <%= render 'layouts/messages' %>
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <!--<img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(142).jpg" alt="Sample image">-->
          <%= image_tag(@post.image.url, class: "card-img-top") %>
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">

          <!-- Title -->
          <h2 class="font-weight-bold title-font"> <%= @post.title.titleize %> </h2>
          <!-- Data -->
          <p>Written by <a><strong><%= @post.user.full_name.titleize %></strong></a>, <%= @post.created_at.strftime("%m/%d/%Y") %></p>
          <!-- Social shares -->
          <div class="social-counters">
            <!-- Facebook -->
            <a class="btn btn-fb">
              <i class="fab fa-facebook pr-2"></i>
              <span class="clearfix d-none d-md-inline-block">Facebook</span>
            </a>
            <span class="counter">46</span>
            <!-- Twitter -->
            <a class="btn btn-tw">
              <i class="fab fa-twitter pr-2"></i>
              <span class="clearfix d-none d-md-inline-block">Twitter</span>
            </a>
            <span class="counter">22</span>
            <!-- Google+ -->
            <a class="btn btn-gplus">
              <i class="fab fa-google-plus pr-2"></i>
              <span class="clearfix d-none d-md-inline-block">Google+</span>
            </a>
            <span class="counter">31</span>
            <!-- Comments -->
            <a class="btn btn-default">
              <i class="fas fa-comment pr-2"></i>
              <span class="clearfix d-none d-md-inline-block title-fonts"><%= pluralize(@post.comments.count, 'Comment') %></span>
            </a>
            <span class="counter"><%= @post.comments.count %></span>
          </div>
          <!-- Social shares -->

        </div>
        <!-- Card content -->

      </div>
      <!-- Card -->

      <!-- Excerpt -->
      <div class="mt-5">
        <p>
            <%= @post.description %>
        </p>
      </div>
 
      <h3 class="h3-responsive goldenrod text-center">Add a comment</h3>
      
      <%= render 'comments/form'  %>
      
      <div id="messages">
        <% if @post.comments != 0 %>
          <%= render partial: 'comments/comments', object: @comments  %>
        <% else %>
          <h3 class="h3-responsive goldenrod text-center">No Comments Yet! </h3>
        <% end %>
      </div>
      
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Blog v.4 -->
</div>