<div class="container-small mt mb">
  <div class="card purple-border-4x">
    <div class="card-block">
      <div class="form-header">
        <h4 class="h4-responsive indie-font goldenrod">Review</h4>
      </div>
      <%= form_for([@book, @review]) do |f| %>
        <% if review.errors.any? %>
          <div id="error_explanation">
            <h2 class="text-danger"><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>
      
            <ul>
            <% review.errors.full_messages.each do |message| %>
              <li class="text-danger"><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        
        <!--Rating-->
        <ul class="rating center">
          <li>
            <div id="star-rating" data-turbolinks="false" data-score= <%= review.rating %> ></div>
          </li>
        </ul>
        <!--Rating-->
        <div class="md-form">
          <%= f.text_area :comment, placeholder: "Enter review", class: "form-control md-textarea white-text" %>
        </div>
        <div class="mx-auto" style="width: 230px;">
          <%= image_submit_tag("https://github.com/cwilliams3579/Choosen-uploads/blob/master/lion-btn.png?raw=true", class: "waves-effect waves-light btn-img") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#star-rating').raty({
    path: 'https://s3.amazonaws.com/yelp-clone-rails/stars',
    scoreName: 'review[rating]'
  });
</script>