<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Lion Of Judah" %></title>
    <%= favicon_link_tag 'favicon.png' %>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Lion Of Judah" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <script>
      var bleep = new Audio();
      bleep.src = "https://github.com/cwilliams3579/Choosen-uploads/blob/master/lion-purr2.wav?raw=true";
      function loadContent(num){
          bleep.play(); // Play button sound now
          var div1 = document.getElementById("div1");
          div1.innerHTML = "Loaded content for section "+num;
      }
    </script>
  <%= alertify_flash %>
  </head>
  <body class="hidden-sn black-skin">
       <%= render 'layouts/navigation' %>
    <div class="container-fluid">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </div>
     
    <%= render 'layouts/footer' %>
    <%= render 'layouts/scripts' %>
     
      <!-- Bootstrap core JavaScript -->
    <script src="https://raw.githubusercontent.com/BlackrockDigital/startbootstrap-simple-sidebar/master/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
   
  </body>
</html>
